/*--------------------------
Call To Action Wrapper 
-----------------------------*/
.call-to-action {
    position: relative;
    z-index: 2;
    .inner {
      
        .title {
            
        }

        .after-title {
            color: var(--color-body);
            margin-top: 20px;
        }
       
    }
    
}

