/*====================
    Slider Area 
======================*/
.slider-wrapper {
    padding: 80px 0;
    overflow: hidden;
    position: relative;
}
.height-750 {
    min-height: 750px;
    width: auto;
}

.slide {
    .inner-content {
        padding-top: 80px;
        text-align: center;
        position: relative;
        z-index: 2;

        @media #{$sm-layout} {
            padding-top: 70px;
        }

        @media #{$large-mobile} {
            padding-top: 30px;
        }

        h1 {
            &.title {
                font-size: 70px;
                font-weight: 700;
                font-family: var(--font-secondary);
                line-height: 1.2;

                @media #{$lg-layout} {
                    font-size: 60px;
                }

                @media #{$md-layout} {
                    font-size: 50px;
                }

                @media #{$sm-layout} {
                    font-size: 45px;
                }

                @media #{$large-mobile} {
                    font-size: 35px;
                }

                .cd-words-wrapper {
                    b {
                        color: var(--color-primary);
                        font-size: 70px;
                        font-weight: 700;
                        @media #{$lg-layout} {
                            font-size: 60px;
                        }
                        @media #{$md-layout} {
                            font-size: 50px;
                        }
                        @media #{$sm-layout} {
                            font-size: 45px;
                        }
                        @media #{$large-mobile} {
                            font-size: 35px;
                        }
                    }
                }
            }
        }
    }
    .service-wrapper {
        position: relative;
        z-index: 2;
        .rn-service {
            box-shadow: none;
            padding: 35px;
        }
    }
}



.move-feature-area {
    background: linear-gradient(to right bottom, #212428, #16181c);
}
.mv-feature-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    .mv-feature {
        display: flex;
        align-items: center;
        padding: 0 30px;
        .icon {
            width: 22px;
            height: 22px;
            background: #3EB75E;
            margin: 0 auto;
            line-height: 24px;
            text-align: center;
            border-radius: 100%;
            color: var(--color-white);
            font-size: 14px;
            margin-right: 10px;
        }
        .text {
            color: var(--color-heading);
        }
    }
}





.scroll-animation {
    display: flex;
    width: -webkit-calc((420px * 16) + (30px * 16));
    width: -moz-calc((420px * 16) + (30px * 16));
    width: calc((420px * 16) + (30px * 16));
    position: relative;

    &.scroll-right-left {
        -webkit-animation: scroll 80s linear infinite;
        -moz-animation: scroll 80s linear infinite;
        animation: scroll 80s linear infinite;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }

    &.scroll-left-right {
        -webkit-animation: scrollLeft 80s linear infinite;
        -moz-animation: scrollLeft 80s linear infinite;
        animation: scrollLeft 80s linear infinite;
        -webkit-animation-fill-mode: forwards;
        -moz-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    }
    .single-column-20 {
        width: 500px;
        padding: 0 15px;
        @media #{$sm-layout} {
            width: 310px;
            padding: 0 10px;
        }
    }
}



@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-webkit-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@-moz-keyframes scroll {
    0% {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -moz-transform: translateX(-moz-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
    }

    to {
        -webkit-transform: translateX(-webkit-calc(-250px * 7));
        -moz-transform: translateX(-moz-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

@-webkit-keyframes scrollLeft {
    0% {
        -webkit-transform: translateX(-webkit-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }

    to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-moz-keyframes scrollLeft {
    0% {
        -moz-transform: translateX(-moz-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }

    to {
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes scrollLeft {
    0% {
        -webkit-transform: translateX(-webkit-calc(-250px * 7));
        -moz-transform: translateX(-moz-calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }

    to {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
}





