/*--------------------
Footer Styles 
----------------------*/
.copyright-area {

    
    .description {
        color: var(--color-body);
        font-size: 16px;
        a {
            color: var(--color-body);
            transition: var(--transition);
            position: relative;
            display: inline-block;
            text-decoration: none;

            &::before {
                position: absolute;
                content: '';
                width: 0%;
                height: 1px;
                background-color: var(--color-primary);
                left: 0;
                bottom: 3px;
                transition: var(--transition);
            }

            &:hover {
                color: var(--color-primary);

                &::before {
                    width: 100%;
                }
            }
        }
    }

    .copyright-nav {
        ul {
            list-style: none;
            padding: 0;
            margin: 0; 
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: -24px;
            @media #{$md-layout} {
                justify-content: center;
            }
            @media #{$sm-layout} {
                justify-content: center;
            }
            li {
                margin: 24px;
                a {
                    color: var(--color-body);
                    font-size: 16px;
                    position: relative;
                    display: inline-block;
                    text-decoration: none;
                    &::before {
                        position: absolute;
                        content: '';
                        width: 0%;
                        height: 1px;
                        background-color: var(--color-primary);
                        left: 0;
                        bottom: 3px;
                        transition: var(--transition);
                    }
                    &:hover {
                        color: var(--color-primary);
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

